:global {
    // global style here
    .logo-spin {
        margin-bottom: 60px;
        margin-top: 5%;
        width: 180px;
        animation: App-logo-spin infinite 2s linear;
    }

    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
